/* styles only index.html */
/*
viewport units
vw
vh
*/
.text-container {
    margin: 0;
}

.text-container > .big-display {
    height: 100%;
    text-align: center;
    /* overriden anyway based on text length*/
    font-size: 6em;
    font-size: 8rem;
    font-size: 16vw;
    font-size: 30vmax;

}

.text-container > :not(.big-display) {
    opacity: 0.6;
}

.text-container p {
    margin: 1px;
}

.text-container small {
    font-size: 20px;
}

.words {
    margin: 1rem;
    margin-left: 0;
    padding: 0;
    
}
.words > button {
    display: block;
    text-transform: capitalize;
    width: 100%; 
}

button,
.words > button {
    /* do not use margin because it is possible to miss-click on it */
    margin: 0;
    border-width: 0.16rem;
    border-style: solid;
    border-color: white;
    padding: 0.90rem;
    background-color: #d4d0d1;

    font-size: 1.6rem;
}

input {
    min-width: 80%;
    margin: 0;
    border-width: 0.16rem;
    border-style: solid;
    border-color: black;
    padding: 0.90rem;
    background-color: #f9f9ff;

    font-size: 1.6rem;
}

fieldset {
    margin-bottom: 2rem;
}

textarea {
    display: block;
    width: 100%;
    min-height: 30vh;
}

input {
    box-shadow: none;
}


.compass {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  
  margin-left: 50%;
  
    text-align: center;

  background-color: #999;  
}